<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822502142191-u2c0mpvljdot6f0vc06gsrg35ris9bor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822502142191-u2c0mpvljdot6f0vc06gsrg35ris9bor</string>
	<key>API_KEY</key>
	<string>AIzaSyDv2tpZSBvnsggSkd8PQI74vEBOybrvRDI</string>
	<key>GCM_SENDER_ID</key>
	<string>822502142191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com-mehdi.GoalsAppSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>goalsappswiftui-84910</string>
	<key>STORAGE_BUCKET</key>
	<string>goalsappswiftui-84910.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822502142191:ios:ed85245db02c033c0beb1a</string>
</dict>
</plist>